{% extends 'base.html' %}

{% block title %}<title>Password</title>{% endblock %}

{% block style %}
<style>
body {

}
</style>
{% endblock %}


{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="col-md-4">
            <div class="card mb-2">
                <img style="object-fit: cover; height: 250px;" class="card-img-top w-100" src="{{ request.user.avatar.url }}" alt="Card image cap">
                <div  class="card-body">
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                    {% if form.errors.old_password %}
                        <p class="error">{{ form.errors.old_password }}</p>
                    {% endif %}

                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                    {% if form.errors.new_password1 %}
                        <p class="error">{{ form.errors.new_password1 }}</p>
                    {% endif %}

                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                    {% if form.errors.new_password2 %}
                        <p class="error">{{ form.errors.new_password2 }}</p>
                    {% endif %}

                    <br><button type="Submit" class="btn btn-primary w-100">Change</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}