{% extends 'base.html' %}


{% block title %}<title>Edit</title>{% endblock %}

{% block style %}
<style>
body {
    overflow: hidden;
}
</style>
{% endblock %}


{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
        <div class="col-md-6">
            <div class="card mb-4">
                <img style="object-fit: cover; height: 250px;" class="card-img-top w-100" src="{{ image.url }}" alt="Card image cap">
            <div  class="card-body">
                <div class="form-row">
                    <div class="col">
                        {{ form.firstname }}
                        </div>
                    <div class="col">
                        {{ form.surname }}
                    </div>
                    <div class="col">
                        {{ form.lastname }}
                    </div>
                </div>
                <br><div class="form-row">
                    <div class="col">
                        {{ form.phone }}
                    </div>
                    <div class="col">
                        {{ form.address }}
                    </div>
                    </div>
                <br><div class="form-row">
                    <div class="col">
                        {{ form.job_position }}
                        </div>
                    <div class="col">
                        {{ form.company_name }}
                        </div>
                    </div>
                <br><div class="form-row">
                    <div class="col">
                        {{ form.skills }}
                    </div>
                    </div>
                <br> {{ form.image }}

            </div>
                <div class="form-row">
                    <div class="col">
                        <a class="btn btn-primary w-50" href="{% url 'search' %}" name="back">Back</a>
                    </div>
                    <div class="col">
                        <button class="btn btn-success w-100" type="submit">Save</button>
                    </div>
                </div>
            </div>
    </form>

{% endblock %}